
body{
  margin: 0;
  padding: 0;
  color: #333;
  background-color:blanchedalmond;
}

.title{
  margin-top: .5em;
  font-size: 2rem;
  text-align: center;
  font-family: chilanka;
}

.form-control{
  border-radius: 30px;
}

.text-justify, .rating, .title, .release-date{
  width: 250px;
}
.small-text{
  font-size: 10px;
}

/* .movie-list{
  border-radius: 20px;
  border: 2px solid whitesmoke;
  background-color: blanchedalmond;
} */